/*  Using following font from google fonts: https://fonts.google.com/specimen/IM+Fell+DW+Pica*/
@font-face {
    font-family: PicaSC;
    src: url(/assets/IMFellDWPicaSC-Regular.ttf);
}

* {
    font-family: PicaSC;
}

/*CSS for nav items*/
nav {
    box-shadow: 5px 5px 5px #7c7c7c;
}

nav,
.dropdown-item,
button {
    background-color: #ffa600;
}

nav {
    font-size: x-large;
}

.nav {
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: black;
}

.nav-link {
    font-size: x-large;
}

.nav-link:hover {
    background-color: #F8D49D;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: black;
    --bs-nav-pills-link-active-bg: #ffa600;
}

/*CSS for banner*/
.banner {
    background-color: #F8D49D;
    padding: 2rem 0;
}

h1 {
    text-shadow: 1px 1px 2px #7c7c7c;
}

/*CSS for cards*/
.card-text {
    font-size: medium;
}

.card {
    background-color: #F8D49D;
}

.card-registration {
    border-radius: 15px
}


/*CSS for main body*/
ol {
    list-style-image: url('/images/cheese-1.png');
}

.row {
    align-items: center;
}

/*CSS for forms*/
.form-check-input:checked {
    background-color: #ffa600;
    border-color: #ffa600;
}

.dropdown-item:hover {
    background-color: #F8D49D;
}

.form-label {
    font-size: large;
}

.required .form-label:after {
    content: "*";
    color: #A80000;
}

/*CSS for buttons*/
.btn {
    padding: .5em 1.5rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px #7c7c7c;
    background-color: #ffa600;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #F8D49D;
}

.btn-link {

    --bs-btn-color: black;
    --bs-btn-hover-color: black;

}

/*CSS media query to hide the banner on small devices, .intro div will display instead*/
@media screen and (max-width:576px) {
    .banner {
        display: none;
    }
}

/*CSS media query to hide the intro on devices above 576px width, banner will display instead*/
@media screen and (min-width:576px) {
    .intro {
        display: none;
    }
}

/*CSS for Shopping Cart Page*/
/* 100vh means the height of this element is equal to 100% of the viewport height. */
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh;
    }
}

/*CSS for Modal*/

.modal-header, .btn-close {
    background-color: #ffa600;
}

/* .stateBilling {
    width: 100;
} */